* {

    margin-left: 75px;
    margin-top: 0px;
    font-family: 'inter';

}
#menusuperior{
    width: 1440px;
    height: 475px;

}

#titulo-menusuperior {
    margin-left: 62px;
    font-size: 60px;
    padding-top: 206px;
}

#texto-menusuperior {
    margin-left: 62px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

#menusuperior {
    width: 1440px;
    height: 475px;
    background-color: #303030;
    color: #FFFFFF;
}

#menuinformacional {
    background-color: #F9F9F9;
    width: 1440px;
    height: 229px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#menu-informacional {
    background-color: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding-top: -100px;


}

.textoinformacional {
    font-weight: bolder;
    font-size: 40px;
    margin-left: 60px;
    margin-top: 96px;
}

.texto {
    margin-top: -42px;
    margin-left: 60px;
    line-height: 28px;
    font-size: 20px;

}

#centrodosite {
    display: grid;


}

#titulo-central {
    font-family: 'inter';
    font-weight: 500;
    font-size: 40px;
    margin-left: 77px;
    line-height: 20px;
    width: 735px;
    height: 161px;
    margin-top: 250px;


}

#imagemcentral {
    width: 450px;
    height: 580px;
    margin-top: -450px;
    margin-left: 800px;
    Margin-right: 54px;
    border-radius: 30px;

}

#texto-central {
    font-family: 'inter';
    font-weight: 400;
    font-size: 24px;
    margin-left: 77px;
    margin-top: -100px;
    line-height: 30px;
    width: 735px;
    height: 161px;

}

#formulario {
    text-align: center;
    background-color: #303030;
    width: 1440px;
    height: 638px;
    top: 1478px;
    margin-top: 92px;


}

#titulo-formulario {
    font-family: 'inter';
    padding-top: 87px;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: #FFFFFF;
    

}

input {
    font-size: 24px;
    width: 508px;
    height: 72px;
    top: 1661px;
    left: 466px;
    margin: 15px;
    border-radius: 10px;
    padding-left: 10px;
    border: 0px;

}

button{
    background-color: #C07212;
    font-weight: 30px;
    width: 286px;
    height: 74px;
    font-size: 30px;
    color: #FFFFFF;
    font-family: 'raleway';
    border: 0px;
    border-radius: 10px;
    font: bolder;
    margin-top: 80px;
    margin-right: 100px;
    cursor: pointer;
    
}

button:hover{
    background-color: #ca8b3ed2;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #00000071;
    transition-duration: 0.5s;
}